parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/ApiDocsController.php

		-
			message: '#^Access to an undefined property UnitEnum\:\:\$value\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Filters/CustomOperatorFilter.php
